// Variables
$primary-color: #ffffff; // Основний колір тексту
$secondary-color: #000000; // Колір тексту кнопок
$background-color: #000000; // Основний фон
$accent-color: #ffffff; // Акцентний колір (для кнопок)
$font-family: 'Arial, sans-serif'; // Основний шрифт
$container-width: 1200px; // Максимальна ширина контейнера
$spacing: 16px; // Основний відступ
$description-color: #c0c0c0;